<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.vsu.trojansmartfarm" android:versionCode="1"
	android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>


	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name=".ControllerActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".TagActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".SensorActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".GrowthDataActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".InsectDataActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".DiseaseDataActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<activity android:name=".MaintenanceDataActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
			<activity android:name=".ViewDataActivity"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
	</application>
</manifest>